body
{
	margin: 0;
	padding: 0;
	color: #333;
	font: normal 14px verdana, sans-serif;;
	background: #eee;
}

#page
{
	background: white;
}

#header
{
	margin: 0;
	padding: 0;
    background: rgb(99, 153, 205);
    color: white;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
    vertical-align: bottom;
    height: 60px;
    padding: 20px 0;
}
#logo span {
    position: relative;
    top: 15px;
    left: 60%;
    font-size: 36px;
}

#mainmenu
{
	background: rgb(141, 186, 230);
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:rgb(32, 84, 133);
	/*background-color:rgb(99, 153, 205);*/
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: rgb(99, 153, 205);
	background-color: rgb(32, 84, 133);
	text-decoration: none;
}

#page-content {
    min-height: 650px;
    margin-top: 15px;
    padding: 0 15px;
}

h1,h2,h3,h4,h5 {
    color: rgb(165, 198, 230);
    font-family: verdana, sans-serif;
}

a {
    color: rgb(99, 153, 205);
    text-decoration: none;
}
a:hover,a:active {
    background-color: rgb(166, 113, 37);
    color: rgb(255, 197, 113);
    text-decoration: underline;
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{
    border: 1px solid rgb(255, 223, 177);
    margin-bottom: 20px;
    border-top-width: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.portlet-decoration
{
	padding: 3px 8px;
	background: rgb(255, 197, 113);
	/*border-left: 5px solid rgb(255, 223, 177);*/
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: rgb(166, 113, 37);
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

#prod-list li {
    margin-bottom: 20px;
    padding: 8px 12px;
    border: 3px double rgb(255, 223, 177);
    border-radius: 15px;
}

#prod-list li .title {
    margin-bottom: 0.5em;
}
#prod-list li .title a:hover {
    background-color: white !important;
    color: rgb(99, 153, 205);
    text-decoration: underline;
}

#prod-list li .title a {
    text-decoration: none;
}

#prod-list li p {
    margin-bottom: 0.5em;
}
#prod-list li p .info {
    font-size: 13px;
    line-height: 1.6em;
    text-indent: 2em;
    margin-bottom: 20px;
}

#prod-list li a.view-detail {
    float: right;
    font-size: 12px;
    position: relative;
    top: 2px;
}


.prod-name {
    text-align: center;
    margin: 15px auto;
    font-weight: 900;
    text-shadow: 1px 1px 5px #d0d0d0;
}
.prod-desc {
    margin: 15px 20px;
    padding: 10px 15px;
    text-indent: 2em;
    background-color: rgb(99, 153, 205);
    border-radius: 10px;
    color: white;
    font-family: "黑体", sans-serif;
    line-height: 24px;
    font-size: 85%;
}
.prod-content {
    text-indent: 2em;
}

